.topo{
    width: 100%;
    background-color: #303097;
  }
  
  .infoRouter{
    padding:10px 0px 0px 0px;
    font-family:'Ubuntu';
    font-size: 24px;
    color:white;
    margin: auto;
    width: 100%;
    min-height:50px;
    max-width: 230px
  }