.topo{
    width: 100%;
    background-color: #303097;
  }
  
  .infoRouter{
    padding:10px 0px 0px 0px;
    font-family:'Ubuntu';
    font-size: 24px;
    color:white;
    margin: auto;
    width: 100%;
    min-height:50px;
    max-width: 230px
  }

  .corpo{
    padding: 0px 0px 0px 30px;
  }
  
  .txtInfo{
    padding: 10px 0px 0px 0px;
    font-size: 20px;
  }
  
  .txtTitulo{
    
  }
  
  .inputTitulo{
    padding: 12px 0px 0px 10px;
  }
  
  .inputTxt{
    border:0;
    border-bottom:2px solid #32CD32;
    font-size:20px;
    font-family:'Ubuntu';
  
  }