<div class="geral">
  
  <div class="topo">
    
   <div class="img">
    <img class="imgLogo" src="https://i.imgur.com/FIMxwhM.png" alt="">
   </div>
    
 </div>
 
 <div class="corpo">
   
   <div class="areaUsuario">
     
     <div class="txtUsuario">
       Usuario
     </div>
     
     <div class="sla">
     
       
      <div class="imgDiv">
         <img class="imgUsuario"               
         src="http://www.igarapedomeio.ma.gov.br/site/images/sem_imagem.png" alt=""  >
     </div>
     <form class="inputUsuario">
       
       <input type="text" id="username" placeholder="ZéCreycrey">
       
     </form>

    </div> 
    
     <div class="areaSenha">
       
       <div class="txtSenha">
       Senha
       </div>
       
       <div class="sla2">
         
         <div class="imgDiv2">
           <img class="imgSenha" 
           src="https://img.icons8.com/cotton/2x/unlock-2.png" alt="">
         </div>

        <form class="inputSenha">

       <input type="password" id="Senha" placeholder="12345">
         
        </form> 

       </div>  
       
     </div>
     
   </div>

   <button type="submit" class="loginButton" routerLink='/serviceDesk/menu'>INICIAR SESSÃO</button>
   
 </div>
 
</div>